<a href="https://colab.research.google.com/github/niketanbothe01/BlockChain/blob/main/RainFall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
from matplotlib import pyplot as plt
import common
from common import switch_case

In [15]:
cork_rainfall = np.loadtxt(fname = "Dataset/CorkRainfall.txt")

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
dublin_rainfall = np.loadtxt(fname ="Dataset/DublinRainfall.txt")

In [18]:
print("[Year, Month, Total Rainfall, Most Rainfall in a Day, Number of Rain days]")

[Year, Month, Total Rainfall, Most Rainfall in a Day, Number of Rain days]

In [19]:
max_most_rainfall = np.amax(cork_rainfall[:,3], axis=0)
print("Maximum Most Rainfall in a Day: ",max_most_rainfall)

Maximum Most Rainfall in a Day:  86.7

In [20]:
#average ‘Most Rainfall in a Day’ 
average_maxRainfall = np.mean(cork_rainfall[:,3], axis=0)
print("Average ‘Most Rainfall in a Day’: ",average_maxRainfall)

Average ‘Most Rainfall in a Day’:  22.9105

In [21]:
print("available years")
print(np.unique(cork_rainfall[:,0]).astype(int))

available years
[1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011]

In [22]:
#selected_year = int(input("Enter the year: "))
selected_year = 1962

In [23]:
print(cork_rainfall[cork_rainfall[:, 0] == selected_year][:, 4].sum())

193.0

In [24]:
month_cum = np.empty(shape=[0])

In [25]:
for i in range(0,12):
    indices = np.arange(i,cork_rainfall.shape[0],12)
    #cumulative for each month across all the years and stored in month_cum
    month_cum = np.append(month_cum,[np.sum(np.take(cork_rainfall[:,2],indices))])

In [26]:
result = np.where(month_cum == np.amax(month_cum))
index=0
print("Wettest month: ")
while index<len(result[0]):
    print(switch_case(int(result[index])+1))
    index+=1

Wettest month:
January

In [27]:
max_threshold = 6

In [28]:
result_tuple = (np.where(cork_rainfall[:,4] <= max_threshold))
print("percentage of rows where the number of rain days fell below the threshold:")
print(len(result_tuple[0])/len(cork_rainfall[:,4])*100)

percentage of rows where the number of rain days fell below the threshold:
1.5

In [29]:
summer_indices = np.empty(shape=[0])
for i in range(5,8):
    indices = np.arange(i,cork_rainfall.shape[0],12)
    summer_indices = np.append(summer_indices,indices).astype(int)

In [30]:
total_rainfall_summer = np.sum(np.take(cork_rainfall[:,2],summer_indices))
avg_rainfall_summer = (total_rainfall_summer)/len(summer_indices)
print("avg rainfall summer:",avg_rainfall_summer)

avg rainfall summer: 80.03666666666666

In [31]:
autumn_indices = np.empty(shape=[0])
for i in range(8,11):
    indices = np.arange(i,cork_rainfall.shape[0],12)
    autumn_indices = np.append(autumn_indices,indices).astype(int)

In [32]:
total_rainfall_autumn = np.sum(np.take(cork_rainfall[:,2],autumn_indices))
avg_rainfall_autumn = (total_rainfall_autumn)/len(autumn_indices)
print("avg rainfall autumn:",avg_rainfall_autumn)

avg rainfall autumn: 114.45933333333335

In [33]:
dublin_rainfall = np.loadtxt(fname ="Dataset/DublinRainfall.txt")
np.savetxt("CorkDublinRainfall.csv", np.concatenate((cork_rainfall, dublin_rainfall)),['%d','%0.2d','%.1f','%.1f','%d'],delimiter=',', header='Year, Month, Total Rainfall, Most Rainfall in a Day, Number of Rain days',newline='\n');